* {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  background-color: whitesmoke;
}

.container {
  text-align: left;
}

ul,
a {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

.lasagna-container,
.cheese-sandwich-container,
.burger-container {
  border: 2px solid darkred;
  margin: 20px auto;
  width: 900px;
}

.lasagna-card-content,
.cheese-sandwich-card-content,
.burger-card-content {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 530px;
}

section.lasagna-card-content,
section.cheese-sandwich-card-content,
section.burger-card-content {
  width: 350px;
}

.lasagna-card-content p,
.cheese-sandwich-card-content p,
.burger-card-content p {
  margin-bottom: 30px;
  font-size: 20px;
}

.lasagna-container img,
.cheese-sandwich-container img,
.burger-container img {
  margin-right: 30px;
  vertical-align: top;
  width: 300px;
  display: inline-block;
}

.cheese-sandwich-container img {
  height: 348px;
}

.lasagna-card-title,
.cheese-sandwich-card-title,
.burger-card-title {
  color: darkred;
}

.lasagna-card-content h2,
.cheese-sandwich-card-content h2,
.burger-card-content h2 {
  font-weight: bolder;
  font-size: 18px;
}

.lasagna-card-content li,
.cheese-sandwich-card-content li,
.burger-card-content li {
  display: inline-block;
  margin-right: 20px;
}

.lasagna-link,
.cheese-sandwich-link,
.burger-link {
  vertical-align: top;
  display: inline-block;
  background-color: orange;
  color: white;
  padding: 10px 20px;
}

.lasagna-heading {
  color: darkblue;
}

.lasagna-div {
  text-align: center;
  border: 2px solid darkred;
  padding: 30px;
  margin: 40px 50px;
}

.lasagna-img {
  display: inline-block;
  margin: 20px auto;
  width: 85%;
  border: 3px solid green;
}

.lasagna-desc-title {
  margin: 10px auto;
}

.lasagna-desc {
  text-align: justify;
  font-size: 18px;
  margin: 40px auto;
}

.lasagna-ingredients-div {
  border: 2px dotted black;
  width: 50%;
  text-align: left;
  margin: 50px auto;
  padding: 20px;
}

.lasagna-ingredients-title {
  font-size: 25px;
  /* margin: 10px auto; */
}

.lasagna-ingredients-list {
  margin: 0px auto;
}
