* {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

.container {
  text-align: left;
}

.lasagna-container {
  border: 2px solid darkred;
  margin: 0 auto;
  width: 900px;
}

.lasagna-card-content {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 530px;
}

section.lasagna-card-content {
  width: 350px;
}

.lasagna-card-content p {
  margin-bottom: 30px;
  font-size: 20px;
}

.lasagna-container img {
  margin-right: 30px;
  vertical-align: top;
  width: 300px;
  display: inline-block;
}

.lasagna-card-title {
  color: darkred;
}

.lasagna-card-content h2 {
  font-weight: bolder;
  font-size: 18px;
}

.lasagna-card-content li {
  display: inline-block;
  margin-right: 20px;
}

ul,
a {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

.lasagna-link {
  vertical-align: top;
  display: inline-block;
  background-color: orange;
  color: white;
  padding: 10px 20px;
}
